.feed-column-view{
  position: fixed;
  top:@topnavSize;
  left:@sidebarSize;
  width: @sidebarSize*2;
  bottom: 0;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }

  .feed-column-item {
    border-bottom: solid 1px @controlBorderColor;

    &.read {
      .feed-column-header {
        background: @readedFeedBackground;
      }
    }

    .feed-column-header {
      .text-overflow;
      padding: 0.5em 1em 0.5em 1em;


      .feed-title {
        &:hover,&:active{
          text-decoration: none;
        }

        strong {
          color: @feedTitleColor;
        }

        span {
          color: lighten(@feedTitleColor, 20%);
          font-size: 90%;
        }
      }
    }

    &.selected {
      .feed-column-header {
        background: lighten(@readedFeedBackground, 5%);
        strong {
          color: darken(@feedTitleColor, 20%);
        }
      }
    }
  }
}

.feed-column-article-view{
  margin-left: @sidebarSize*2;

  .feed-content{
    padding: 0.5em 1em 0.5em 2.7em;
  }

  .feed-item-info{
    padding: 0.5em 1em 0.5em 2.7em;
  }
}