

.feed-item-info {
  .clearfix;
  margin-bottom: 1em;

  .feed-item-author {
    float: left;
    margin-right: 1em;
    color: lighten(@feedTitleColor, 20%);
  }

  .feed-item-categories {
    float: left;
    max-width: 80%;
    white-space: nowrap;
    overflow-x:hidden;

    .tag {
      .badge;
      background-color: @panelBackground;
      color: @panelTextColor;
      .border-radius(0px);
      margin-right: 0.5em;
      padding-top: 4px;
      padding-bottom: 4px;
      margin-bottom: 2px;
      text-overflow: ellipsis;

      &:hover {
        background-color: @hoverFeedBackground;
      }
    }
  }

  .feed-item-time {
    float: right;
    .time {
      color: lighten(@feedTitleColor, 20%);
    }
    .open, .open:hover, .open:active {
      text-decoration: none;
    }
  }
}

.feed-item {
  border-left: solid 4px transparent;
  .clearfix;
  &.read {
    border-left-color: @readedFeedBackground;
  }
  &.selected {
    border-left-color: @selectedFeedColor;
  }
}

.feed-content {
  max-width: 60em;

  img {
    margin: 0 1em 1em 0;
  }
}

.feed-star {

  &:before {
    .icon(@star-empty);
  }

  &.starred {
    &:before {
      .icon(@star);
    }
  }
  cursor: pointer;
  color: lighten(@starredColor, 20%);

  &:hover {
    color: @starredColor;
    &:before {
      .icon(@star);
    }
  }
}

.feed-load-more, .feed-load-nomoreitems {
  padding: 2em;
  .text-center;
  color: darken(@feedTitleColor, 20%);
  background: lighten(@readedFeedBackground, 5%);
  button {
    .button;
  }
}

.feed-load-more {
  cursor: pointer;
}