<div class="feed-column-view" id="itemsHolder">
    <div class="feed-item-loader" infinite-scroll="feedItems.loadNextItems()" infinite-scroll-distance="1"
         infinite-scroll-disabled="loading || feedItems.isAllItemsLoaded()" infinite-scroll-immediate-check="false" infinite-scroll-container='itemsHolder'>
        <div class="feed-item feed-column-item" ng-repeat="item in feedItems.getItems()"
             ng-class="{read:!item.unread, selected:feedItems.selectedFeed==item}">
            <div class="feed-column-header">
                <i class="feed-star" ng-class="{'starred':item.starred}"
                   ng-click="feedItems.toggleStarred(item)"></i>
                <a class="feed-title" ng-click="feedItems.selectItem(item)" href="javascript:void(0)">
                    <strong>{{item.title}}</strong>
                    <span>&mdash;{{item.preview}}</span>
                </a>
            </div>
        </div>
        <ng-include src="'feedList/feedItemsEndBlock.tpl.html'">
        </ng-include>
    </div>
</div>
<div class="feed-column-article-view">
    <div ng-show="feedItems.selectedFeed!=null" ng-init="item=feedItems.selectedFeed">
        <div class="feed-item-info">
            <div class="feed-item-author">
                {{feedItems.selectedFeed.author}}
            </div>
            <div class="feed-item-categories">
                <span class="tag" ng-repeat="category in feedItems.selectedFeed.categories">{{category}}</span>
            </div>
            <div class="feed-item-time">
                <span class="time" am-time-ago="feedItems.selectedFeed.created"></span>
                <a class="open" target="_blank" href="{{feedItems.selectedFeed.link}}">
                    <i class="icon-share"></i>
                </a>
            </div>
        </div>
        <div class="feed-content" ng-bind-html="feedItems.selectedFeed.text">
        </div>
    </div>
</div>
