<div class="feed-item-loader" infinite-scroll="feedItems.loadNextItems()" infinite-scroll-distance="1"
     infinite-scroll-disabled="loading || feedItems.isAllItemsLoaded()" infinite-scroll-immediate-check="false"
     scroll-position-track="{{ {className:'feed-item',evalute:'feedItems.scrollToItem(item)'} }}"
     scroll-navigate="{{ {className:'feed-item',evalute:'feedItems.selectedFeed==item', eventName:'event:feedSelected' } }}">
    <div class="feed-item feed-full-item" ng-repeat="item in feedItems.getItems()"
         ng-class="{read:!item.unread, selected:feedItems.selectedFeed==item}">
        <div class="feed-full-header">
            <a class="feed-title" href="{{item.link}}" target="_blank">
                <strong>{{item.title}}</strong>
            </a><i class="feed-star" ng-class="{'starred':item.starred}"
                   ng-click="feedItems.toggleStarred(item)"></i>
        </div>
        <div class="feed-full-body">
            <ng-include src="'feedList/feedItemInfo.tpl.html'"></ng-include>
            <div class="feed-content" ng-bind-html="item.text">
            </div>
        </div>
    </div>
    <ng-include src="'feedList/feedItemsEndBlock.tpl.html'">
    </ng-include>
</div>
<div class="feed-delta-nav">

    <div class="down" ng-keybind="nextFeedItem" ng-click="feedItems.selectByDelta(1)">
        <button class="icon-long-arrow-down"></button>
    </div>
    <div class="up" ng-click="feedItems.selectByDelta(-1)">
        <button class="icon-long-arrow-up"></button>
    </div>
</div>


