.feed-full-item {
  border-bottom: solid 2px @controlBorderColor;

  .feed-full-header {
    .text-overflow;
    padding: 0.5em 1em 0.5em 1em;

    .feed-title {
      &:hover, &:active {
        text-decoration: none;
      }
    }
  }

  .feed-full-body {
    padding: 0.5em 1em 0.5em 1em;

    .feed-content {
      margin-bottom: 2em;
    }
  }

  .feed-item-info {
    .open {
      display: none;
    }
  }

  .feed-full-footer {
    background: lighten(@readedFeedBackground, 10%);
    padding: 0.5em 1em 0.5em 0.5em;
  }
}

.feed-delta-nav {
  position: fixed;
  top: @topnavSize;
  right: 0;
  width: @sidebarSize/2;
  bottom: 0;
  opacity: 0;

  &:hover {
    opacity: 0.8;
  }

  .up, .down {
    cursor: pointer;
    width: 100%;
    height: 20%;
    opacity: 0.5;


    button {
      background-color: @panelBackground;
      border: solid 1px @controlBorderColor;
      width: 100%;
      height: 100%;
      text-align: center;

    }

    &:hover {
      opacity: 1;
    }
  }

  .down {
    height: 80%;
  }

}