.feed-list-item {
  border-bottom: solid 1px @controlBorderColor;

  &.read {
    .feed-list-header {
      background: @readedFeedBackground;
    }
  }

  .feed-list-header {
    .text-overflow;
    padding: 0.5em 1em 0.5em 1em;


    .feed-title {
      &:hover,&:active{
        text-decoration: none;
      }

      strong {
        color: @feedTitleColor;
      }

      span {
        color: lighten(@feedTitleColor, 20%);
        font-size: 90%;
      }
    }
  }

  &.selected {
    .feed-list-body {
      display: block;
    }
    .feed-list-header {
      background: lighten(@readedFeedBackground, 5%);
      strong {
        color: darken(@feedTitleColor, 20%);
      }

      span {
        display: none;
      }
    }
  }

  .feed-list-body {
    display: none;
    padding: 0.5em 1em 0.5em 2.7em;

    .feed-content {
      margin-bottom: 2em;
    }
  }

}

