<div class="feed-item-info">
    <div class="feed-item-author">
        {{item.author}}
    </div>
    <div class="feed-item-categories">
        <span class="tag" ng-repeat="category in item.categories">{{category}}</span>
    </div>
    <div class="feed-item-time">
        <span class="time" am-time-ago="item.created"></span>
        <a class="open" target="_blank" href="{{item.link}}">
            <i class="icon-share"></i>
        </a>
    </div>
</div>