<div class="feed-item-loader" infinite-scroll="feedItems.loadNextItems()" infinite-scroll-distance="1"
     infinite-scroll-disabled="loading || feedItems.isAllItemsLoaded()" infinite-scroll-immediate-check="false" >
    <div class="feed-item feed-list-item" ng-repeat="item in feedItems.getItems()"
         ng-class="{read:!item.unread, selected:feedItems.selectedFeed==item}">
        <div class="feed-list-header">
            <i class="feed-star" ng-class="{'starred':item.starred}"
               ng-click="feedItems.toggleStarred(item)"></i>
            <a class="feed-title" ng-click="feedItems.expandItem(item)" href="javascript:void(0)">
                <strong>{{item.title}}</strong>
                <span>&mdash;{{item.preview}}</span>
            </a>
        </div>
        <div class="feed-list-body">
            <ng-include src="'feedList/feedItemInfo.tpl.html'"></ng-include>
            <div class="feed-content" ng-bind-html="item.text">
            </div>
        </div>
    </div>
    <ng-include src="'feedList/feedItemsEndBlock.tpl.html'">
    </ng-include>
</div>

