<div class="feed-load-more" ng-hide="feedItems.isAllItemsLoaded()||loading" ng-click="feedItems.loadNextItems()">
    Load next items
</div>
<div class="feed-load-nomoreitems" ng-show="feedItems.isAllItemsLoaded()">
    No more items <button ng-click="feedItems.markAsReaded()"><i class="icon-ok-sign"></i> Mark all as readed</button>
</div>