<div class="content html_format">
    <img src="http://upload.4tree.ru/data/u11/06-2013/clip_7270_7b8f629f.png" alt="image" align="left">Вице-спикер Госдумы <a href="http://navalny.livejournal.com/761818.html">Сергей Железняк</a> предложил принять закон, обязывающий размещать на территории России серверы с персональными данные российских граждан и официальной информацией органов власти, а также поддержать отечественное электронное производство и разработку собственного программного обеспечения.<br>
    <br>
    «Мы должны серьезно защищать и информацию наших граждан, и информацию нашей страны. Реализовать это возможно только при условии размещении сетевого, серверного оборудования, содержащего персональные данные и информацию наших официальных органов, на территории РФ, в пределах нашей юрисдикции, для того, чтобы различные шпионы, разведки и мошенники не могли воспользоваться разницей в законодательных подходах и не отвечать на те вопросы, которые есть у нашего следствия и правосудия», — сказал Железняк.<br>

    <div class="buttons">
        <a class="button habracut" href="http://habrahabr.ru/post/183860/#habracut">Читать дальше →</a>
    </div>
    <div class="clear"></div>
</div>