<div class="content html_format">
    Разработчики MariaDB случайно <a href="https://blog.mariadb.org/mysql-man-pages-silently-relicensed-away-from-gpl/">заметили</a>, что в промежутке от MySQL 5.5.30 к MySQL 5.5.31 в проекте изменился текст лицензии во всех файлах в каталоге man/.<br>
    <br>
    Вместо <a href="http://pastebin.com/gnJg1hv4">прежнего краткого текста</a> «Эта документация является свободным программным обеспечением, вы можете распространять и/или изменять её только под условиями лицензии GNU General Public License, как опубликовано Фондом свободного ПО; версия 2 лицензии» теперь <a href="http://pastebin.com/FRbHRdAN">длинное описание</a>, начинающееся со слов: «Это программное обеспечение и сопутствующая документация распространяются под лицензионным соглашением, которое содержит ограничения на использование и разглашение и защищена законами об интеллектуальной собственности».<br>

    <div class="buttons">
        <a class="button habracut" href="http://habrahabr.ru/post/183778/#habracut">Читать дальше →</a>
    </div>
    <div class="clear"></div>
</div>