<div class="content html_format">
    <img src="http://cho.justos.org:9119/counter.gif">Яндекс.Браузер с сегодняшнего дня доступен для смартфонов на Android и айпадов. Сделать мобильный браузер хорошим не так уж просто, — расскажем о том, что у нас получилось.<br>
    <br>
    <iframe width="560" height="349" src="http://www.youtube.com/embed/2t02jhOnB7g?wmode=opaque" frameborder="0" allowfullscreen=""></iframe><br>
    <br>
    Когда человек запускает браузер на смартфоне или планшете, ему важно, чтобы всё было быстро: чтобы быстро вводился запрос, находились нужные адреса и телефоны, загружались страницы — чтобы быстро решались его задачи. Мобильный Яндекс.Браузер сможет обеспечить ускорение не только за счёт режима Турбо, но и благодаря тому, как мы спроектировали его интерфейс и насколько глубоко интегрировали в него поисковые технологии. <br>

    <div class="buttons">
        <a class="button habracut" href="http://habrahabr.ru/company/yandex/blog/183704/#habracut">Читать дальше →</a>
    </div>
    <div class="clear"></div>
</div>