<!DOCTYPE html>
<html class="no-js" ng-app="Reader">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <title>Rss Reader</title>
    <link rel="stylesheet" href="/packages/bootplus/css/bootplus.min.css">
    <!--    <link rel="stylesheet" href="/packages/bootplus/css/bootplus-responsive.min.css">-->
    <link rel="stylesheet" href="/packages/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/stylesheets/style.css">
    <style>
        [ng-cloak],.ng-cloak {
            display: none;
        }
    </style>
</head>
<body ng-controller="ReaderCtrl" class="ng-cloak">
<!--navbar-->
<div class="navbar navbar-fixed-top" ng-show="isAuthorized()">
    <div class="navbar-inner">
        <div class="container-fluid">
            <div class="nav-open nav-container">
                <span class="logo">Reader&nbsp;
                    <span ng-click="settings.showUnread=!settings.showUnread" ng-switch="settings.showUnread">
                        <span ng-switch-when="true"><i bs-tooltip="bottom" class="icon-flag"
                                                       title="Show only unread items (press to show all)"></i></span>
                        <span ng-switch-default><i bs-tooltip="bottom" class="icon-flag-alt"
                                                   title="Show all items (press to show only unread)"></i></span>
                    </span>&nbsp;
                    <i class="icon-refresh" ng-click='refresh()'></i>
                </span>

                <div class="feed-nav-opener" ng-class="{active:selectedFeedId==null}"
                     ng-show="feeds!=null">
                    <ul class="feed-nav unstyled">
                        <li ng-repeat="(feedId,feed) in predefinedFeeds" ng-class="{unread:feed.unread > 0}"
                            class="feed-type-{{feedId}}">
                            <a href="#" ng-click="selectFeed(feedId)" ng-class="{active:selectedFeedId==feedId}">
                                <i class="icon-{{feedId}}"></i>
                                &nbsp;<span class="chanel">{{feed.title}}</span>
                            </a>
                        </li>
                        <li class="separator"></li>
                        <li ng-repeat="(tag,value) in tags()" ng-class="{unread:unreadCountByTag(tag) > 0}" class="tag"
                            ng-hide="settings.showUnread && unreadCountByTag(tag)==0">
                            <a href="javascript:void(0)" ng-click="selectFeed('tag:'+tag)"
                               ng-class="{active:selectedFeedId=='tag:'+tag}">
                                <i ng-click="tagOpened(tag,!tagOpened(tag))"
                                   ng-class="{'icon-folder-open':tagOpened(tag),'icon-folder-close':!tagOpened(tag)}"></i>
                                &nbsp;<span class="chanel">{{tag}}</span>
                                <span class="count" ng-hide="unreadCountByTag(tag) == 0">&nbsp;({{unreadCountByTag(tag) | unread}})</span>
                            </a>
                            <ul class="unstyled" ng-show="tagOpened(tag)">
                                <li ng-repeat="(feedId,feed) in feeds|byTag:tag" ng-include="'feed_item_renderer.html'"
                                    ng-class="{unread:feed.unread > 0}" ng-hide="settings.showUnread && feed.unread==0">

                                </li>
                            </ul>
                        </li>
                        <li ng-repeat="(feedId,feed) in feeds|byTag:null" ng-class="{unread:feed.unread > 0}"
                            ng-include="'feed_item_renderer.html'"
                            ng-hide="settings.showUnread && feed.unread==0">
                        </li>
                    </ul>
                </div>
            </div>

            <div class="nav-collapse in collapse" ng-show="selectedFeedId!=null">
                <ul class="nav">
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"
                           ng-switch="settings.showUnreadItems">
                            <span ng-switch-when="true">
                                {{feeds[selectedFeedId].unread}} new items
                            </span>
                            <span ng-switch-when="false">
                                All items
                            </span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-class="{active:settings.showUnreadItems}"><a href="javascript:void(0)"
                                                                                ng-click="setShowUnreadItems(true)">{{feeds[selectedFeedId].unread}}
                                new
                                items</a></li>
                            <li ng-class="{active:!settings.showUnreadItems}"><a href="javascript:void(0)"
                                                                                 ng-click="setShowUnreadItems(false)">All
                                items</a></li>
                        </ul>
                    </li>

                    <li>
                        <div class="btn-group">
                            <button class="btn" ng-disabled="!settings.expandedMode"
                                    reader-navigate="{{ {selector:'.feed-body',activeSelector:'.feed-body.viewed',id:'feedItem',scopeVar:'selectedFeedItemId', direction:'up'} }}">
                                <i class="icon-arrow-up"></i>
                            </button>
                            <button class="btn" ng-disabled="!settings.expandedMode"
                                    reader-navigate="{{ {selector:'.feed-body',activeSelector:'.feed-body.viewed',id:'feedItem',scopeVar:'selectedFeedItemId', direction:'down'} }}">
                                <i class="icon-arrow-down"></i>
                            </button>
                        </div>
                    </li>
                    <li class="divider-vertical"></li>
                    <li>
                        <div class="btn-group">
                            <button class="btn" ng-class="{active:settings.expandedMode}"
                                    ng-click="setExpandedMode(true)">
                                <i class="icon-list"></i>
                            </button>
                            <button class="btn" ng-class="{active:!settings.expandedMode}"
                                    ng-click="setExpandedMode(false)">
                                <i class="icon-align-justify"></i>
                            </button>
                        </div>
                    </li>
                    <li class="divider-vertical"></li>

                    <li>
                        <button class="btn" ng-click="markAllAsRead()">
                            Mark all as read
                        </button>
                    </li>
                </ul>
            </div>
            <div class="nav-collapse in collapse pull-right">
                <ul class="nav">
                    <li ng-class="{active:discovery.active}">
                        <a href="javascript:void(0)" ng-click="discovery.active=!discovery.active"><i
                                class="icon-plus-sign"></i>&nbsp;Add feed</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" ng-click="signOut()" ng-show="isAuthorized()"><i
                                class="icon-signout"></i>&nbsp;Signout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container feed-container" ng-class="{expanded:settings.expandedMode}"
     reader-scroll-position="{{ {selector:'.feed-body',id:'feedItem',scopeVar:'selectedFeedItemId', viewMode:'settings.expandedMode'} }}"
     reader-scroll-position-disabled="!settings.expandedMode"
     ng-controller="ReaderItemsCtrl" ng-show="isAuthorized()">

    <article class="no-feed text-center" ng-show="selectedFeedId==null || feedItems==null || feedItems.length==0">
        No selected feed
    </article>

    <article class="feed-name" ng-show="selectedFeedId!=null && feedItems!=null && feedItems.length>0">
        <div class="row">
            <div class="span6 feed-title">
                <h3><a ng-href="{{feeds[selectedFeedId].link}}">{{getSelectedFeedTitle()}}</a>
                </h3>
            </div>
            <div class="span6 text-right" >
                <div class="btn-group">
                    <button ng-show="isRealFeed(selectedFeedId)" class="btn  dropdown-toggle" data-toggle="dropdown"><i class="icon-tag"
                                                                                   data-toggle="dropdown"></i>&nbsp;Tags
                    </button>
                    <ul class="dropdown-menu text-left">
                        <li ng-repeat="(tag,value) in tags()">
                            <a href="javascript:void(0)" ng-click="toggleTag(selectedFeedId,tag)">
                                <i class="icon-ok" ng-class="{hidden:!hasTag(selectedFeedId,tag)}"></i>
                                {{tag}}
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0)" ng-click="addTag(selectedFeedId)" ><i class="icon-plus"></i>&nbsp;Add new tag</a></li>
                    </ul>
                    <button class="btn" ng-click="unsubscribe(selectedFeedId)">Unsubscribe</button>


                </div>
            </div>
        </div>
    </article>
    <div class="feed-items" ng-show="selectedFeedId!=null" infinite-scroll='nextItems()'
         infinite-scroll-disabled='loading || selectedFeedId==null || error!=null || selectedFeedAllDataLoaded'
         infinite-scroll-distance='1'>
        <div ng-repeat="feedItem in feedItems| orderBy:created"
             ng-show="selectedFeedItemId==feedItem.id || wasSelected(feedItem.id) || (settings.showUnreadItems && feedItem.unread) || !settings.showUnreadItems">
            <article class="feed-item"
                     ng-class="{unread:feedItem.unread==true, expanded:selectedFeedItemId==feedItem.id}"
                     ng-click="expandItem(feedItem.id)" ng-show="!settings.expandedMode">
                <div class="row">
                    <div class="span10 feed-title">
                        <i ng-class="{'icon-star-empty':!feedItem.starred,'icon-star':feedItem.starred}"></i>&nbsp;
                        <span class="feed-title-text">{{feedItem.title}}</span>
                        &mdash;
                        <span class="muted">{{feedItem.text|stripHtml}}</span>
                    </div>
                    <div class="span2 text-right">
                <span><span>{{feedItem.created|momentAgo}}</span>&nbsp;<a ng-href="{{feedItem.link}}" target="_blank"><i
                        class="icon-share"></i></a></span>
                    </div>
                </div>
            </article>
            <article class="feed-body" id="feedItem{{feedItem.id}}"
                     ng-show="settings.expandedMode || selectedFeedItemId==feedItem.id"
                     ng-class="{unread:feedItem.unread,expanded:settings.expandedMode,viewed:feedItem.id==selectedFeedItemId}">
                <h3 class="feed-body-title"><a target="_blank" ng-href="{{feedItem.link}}">{{feedItem.title}}</a></h3>

                <div class="feed-author muted" ng-show="feedItem.author!=null">{{feedItem.author}}</div>
                <div class="feed-tags" ng-show="feedItem.categories!=null && feedItem.categories.length>0">
                    <span ng-repeat="category in feedItem.categories" class="label">{{category}}&nbsp;</span>
                </div>
                <div class="feed-body-content" ng-bind-html="feedItem.text">

                </div>
                <div class="feed-body-footer" ng-show="settings.expandedMode">
                    <i class="icon-star-empty"></i>

                    <div class="pull-right text-right">
                        <span>{{feedItem.created|momentAgo}}</span>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
<div class="message-container">
    <div class="loader" ng-show="loading">
        <div class="alert">
            <i class="icon-spinner icon-spin"></i> Loading data...
        </div>
    </div>
    <div class="error" ng-show="error!=null">
        <div class="alert alert-error">
            <i class="icon-frown"></i> {{error}}
        </div>
    </div>
</div>
<div class="modal" ng-class="{hide:isAuthorized() || loading}">
    <div class="modal-header">
        <h3 class="text-center">Please login with any provider</h3>
        <span class="text-center" ng-show="authorizationError!=null">{{authorizationError}}</span>
    </div>
    <div class="modal-body">
        <div class="text-center" id="uLogin"
             data-ulogin="display=panel;fields=first_name,last_name;providers=vkontakte,odnoklassniki,mailru,twitter,google,yandex,googleplus,facebook,livejournal,linkedin,liveid;redirect_uri=;callback=onLogin"></div>
    </div>
</div>
<div modal="discovery.active" ng-controller="ReaderFeedDiscoveryCtrl">
    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" ng-click="discovery.active=false">×</button>
        <h3>Add new feed</h3>
    </div>
    <div class="modal-body">
        <form name="feedForm">
            <input name="feedUrl" class="input-block-level" type="url" placeholder="Enter site or feed url"
                   ng-model="discovery.feedUrl" required ng-disabled="loading"/>
            <span class="muted"
                  ng-show="feedForm.feedUrl.$invalid && feedForm.feedUrl.$dirty">Bad formatted address</span>

            <div class="feed-selector" ng-show="discovery.feeds!=null && discovery.feeds.length>0">
                <span>There is more than 1 feed at given address. Please check needed</span>
                <label ng-repeat="feed in discovery.feeds">
                    <input value="{{feed.url}}" type="checkbox" ng-model="feed.checked">&nbsp;{{feed.title}}
                </label>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-disabled="feedForm.$invalid || loading"
                ng-click="discoverFeed()"><i class="icon-plus"></i>&nbsp;Add feed
        </button>
        <button class="btn" type="button">Import OPML</button>
    </div>
</div>
<script type="text/ng-template" id="feed_item_renderer.html">
    <a href="#" ng-click="selectFeed(feedId)" ng-class="{active:selectedFeedId==feedId}">
        <i class="icon-rss"></i>
        &nbsp;<span class="chanel">{{feed.title}}</span>
        <span class="count" ng-hide="feed.unread == 0">&nbsp;({{feed.unread | unread}})</span>
    </a>
</script>
<script type="text/ng-template" id="add_tag.html">
    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" ng-click="close()">×</button>
        <h3>Add new tag</h3>
    </div>
    <div class="modal-body">
        <form name="addTagForm">
            <input name="tagName" class="input-block-level" type="text" placeholder="Enter new tag name"
                   ng-model="addTagDialog.TagName" required/>
            <span class="muted"
                  ng-show="addTagForm.tagName.$invalid && addTagForm.tagName.$dirty">Bad tag name</span>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-disabled="addTagForm.$invalid"
                ng-click="close(addTagDialog.TagName)"><i class="icon-plus"></i>&nbsp;Add feed
        </button>
    </div>
</script>
<script src="/packages/jquery/jquery.min.js"></script>
<script src="/packages/bootplus/js/bootstrap.min.js"></script>
<script src="/packages/underscore/underscore-min.js"></script>
<script src="/packages/moment/moment.min.js"></script>
<script src="/packages/angular/angular.js"></script>
<script src="/packages/angular/angular-sanitize.js"></script>
<script src="/packages/angular/ng-infinite-scroll.js"></script>
<script src="/packages/angular/http-auth-interceptor.js"></script>
<script src="/packages/ui-bootstrap/ui-bootstrap-custom-tpls-0.4.0.js"></script>
<script>
    angular.module('ReaderServices', [])
    angular.module('Reader', ['ReaderFilters', 'ReaderDirectives', 'ReaderServices', 'ngSanitize', 'infinite-scroll', 'http-auth-interceptor','ui.bootstrap']);
</script>
<script src="/static/javascripts/services/ReaderStorageService.js"></script>
<script src="/static/javascripts/services/ReaderDataService.js"></script>
<script src="/static/javascripts/services/ReaderLoginService.js"></script>
<script src="/static/javascripts/services/ReaderSettingsService.js"></script>
<script src="/static/javascripts/controllers/ReaderController.js"></script>
<script src="/static/javascripts/controllers/ReaderItemsController.js"></script>
<script src="/static/javascripts/controllers/ReaderFeedDiscoveryController.js"></script>
<script src="/static/javascripts/ReaderFilters.js"></script>
<script src="/static/javascripts/ReaderDirectives.js"></script>
<script src="//ulogin.ru/js/ulogin.js"></script>
<script>
    function onLogin(token) {
        var scope = angular.element(document.body).scope();
        scope.$emit('event:auth-loginToken', token);
        scope.$digest();
    }
</script>
</body>
</html>