.settings-container {
  .header-container {
    background: lighten(@panelBackground, 5%);
    height: @topnavSize;
    border-top: solid 1px @controlBorderColor;
    border-bottom: solid 1px @controlBorderColor;
    margin-bottom: 2em;

    header {
      display: block;
      padding: 0.5em 1em;
      span {
        font-size: 120%;
        font-weight: bold;
        line-height: 2em;
      }
    }
  }

  .setting {
    padding-left: 1em;

    .setting-name {
      display: block;
      margin: 1em 0;
    }
  }
}