<div class="settings-container">
    <div class="header-container">
        <header>
        <span>Settings</span>
        </header>
    </div>

    <div class="setting">
        <span class="setting-name">What channels we should show in list?</span>
        <toggle-switch model="settings.showUnread" on-label="'With new items'" off-label="'With all items'"></toggle-switch>
    </div>
    <div class="setting">
        <span class="setting-name">Should we show already read items to ya?</span>
        <toggle-switch model="settings.showUnreadItems" on-label="'No, thanks'" off-label="'Yes, please'"></toggle-switch>
    </div>
    <div class="setting">
        <span class="setting-name">Should we show site icon instead of rss icon?</span>
        <toggle-switch model="settings.showFavicons" on-label="'Yes, please'" off-label="'No, thanks'"></toggle-switch>
    </div>
</div>