/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */


/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */

@import '../../vendor/bootstrap/less/mixins.less';
@import '../../vendor/bootstrap/less/reset.less';
@import '../../vendor/bootstrap/less/utilities.less';
@import '../../vendor/bootstrap/less/scaffolding.less';
@import '../../vendor/bootstrap/less/type.less';
@import '../../vendor/bootstrap/less/grid.less';
@import '../../vendor/bootstrap/less/layouts.less';
@import '../../vendor/bootstrap/less/buttons.less';
@import '../../vendor/bootstrap/less/button-groups.less';
@import '../../vendor/bootstrap/less/dropdowns.less';
@import '../../vendor/bootstrap/less/labels-badges.less';
@import '../../vendor/bootstrap/less/forms.less';
@import '../../vendor/bootstrap/less/modals.less';
@import '../../vendor/bootstrap/less/close.less';

/*Fonawesome!*/
@import "../../vendor/font-awesome/less/variables.less";
@FontAwesomePath:   "./font"; /*Define a path for it*/

@import "../../vendor/font-awesome/less/mixins.less";
@import "../../vendor/font-awesome/less/path.less";
@import "../../vendor/font-awesome/less/core.less";
@import "../../vendor/font-awesome/less/bootstrap.less";
@import "../../vendor/font-awesome/less/icons.less";



@import 'variables.less';



[class^="icon-"],
[class*=" icon-"]{
  &:after{
    content: ' ';
  }
}

.button() {
  text-decoration: none;
  border: 1px solid #DDD;
  border-radius: 3px;
  text-shadow: 0 1px 1px white;
  -webkit-box-shadow: 0 1px 1px #fff;
  -moz-box-shadow:    0 1px 1px #fff;
  box-shadow:         0 1px 1px #fff;
  font: bold 11px Sans-Serif;
  padding: 6px 10px;
  white-space: nowrap;
  vertical-align: middle;
  color: #666;
  background: transparent;
  cursor: pointer;
  &:hover, &:focus {
    text-decoration: none;
    border-color: #999;
    background: -webkit-linear-gradient(top, white, #E0E0E0);
    background:    -moz-linear-gradient(top, white, #E0E0E0);
    background:     -ms-linear-gradient(top, white, #E0E0E0);
    background:      -o-linear-gradient(top, white, #E0E0E0);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #fff;
    -moz-box-shadow:    0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #fff;
    box-shadow:         0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #fff;
  }
  &:active {
    border: 1px solid #AAA;
    border-bottom-color: #CCC;
    border-top-color: #999;
    -webkit-box-shadow: inset 0 1px 2px #aaa;
    -moz-box-shadow:    inset 0 1px 2px #aaa;
    box-shadow:         inset 0 1px 2px #aaa;
    background: -webkit-linear-gradient(top, #E6E6E6, gainsboro);
    background:    -moz-linear-gradient(top, #E6E6E6, gainsboro);
    background:     -ms-linear-gradient(top, #E6E6E6, gainsboro);
    background:      -o-linear-gradient(top, #E6E6E6, gainsboro);
  }
}




@import 'toggleSwitch.less';

@import '../app/login/login.less';
@import '../app/feeds/addFeed.less';
@import '../app/feeds/feeds.less';
@import '../app/feedItems/feedItems.less';
@import '../app/modalDialog/modalDialog.less';

@import '../app/feedList/feed-list.less';
@import '../app/feedList/feed-full.less';
@import '../app/feedList/feed-columns.less';
@import '../app/feedList/feedListCommon.less';
@import '../app/settings/settings.less';


