.switch {
  border: 1px solid;
  cursor: pointer;
  display: inline-block;
  text-align: left;
  overflow: hidden;
  line-height: 8px;
  min-width: 100px;
}

.switch span {
  cursor: pointer;
  display: inline-block;
  float: left;
  height: 100%;
  line-height: 1em;
  padding: 0.5em 1em;
  text-align: center;
  width: 33%;
  white-space: nowrap;

  box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.switch > div {
  position: relative;
  width: 150%;
}

.switch .knob {
  background: red;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background-color: #f5f5f5;
  width: 34%;
  z-index: 100;
}

.switch .switch-on {
  left: 0%;
}

.switch .switch-off {
  left: -50%
}

.switch .swtich-left, .switch .switch-right {
  z-index: 1;
}

.switch .switch-left {
  color: #fff;
  background: #005fcc;
}

.switch .switch-right {
  color: #333;
  background: #f0f0f0;
}

.switch-animate {
  transition: left 0.5s;
  -o-transition: left 0.5s;
  -moz-transition: left 0.5s;
  -webkit-transition: left 0.5s;
}
