/**
 * These are the variables used throughout the application. This is where 
 * overwrites that are not specific to components should be maintained.
 */

@import '../../vendor/bootstrap/less/variables.less';


/**
 * Typography-related.
 */

@sansFontFamily: 'PT Sans', sans-serif;
@baseFontSize: 1em;
/*Bootstrap vars*/
@baseBorderRadius:0;

/*
Sidebar size
*/
@sidebarSize:15em;
@topnavSize:3em;
@controlBorderColor:#ddd;

/*UI vars*/
@asideFontSize: 90%;
@panelBackground: #e7eaed;
@activeFeedColor: #d14836;
@activeFeedBorderSize: 3px;

/*Calculated*/
@panelTextColor:darken(@panelBackground,50%);
@inactiveFeedColor: lighten(@panelTextColor, 20%);
@hoverFeedBackground: darken(@panelBackground,10%);

/*feed lis*/
@starredColor: #ff942a;
@feedTitleColor:#888;
@readedFeedBackground:@panelBackground;
@selectedFeedColor: #5173ff;