.navbar .nav [class^="icon-"] {
    line-height: normal;
}

.nav-container .feed-nav::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

.nav-container .feed-nav::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.nav-container .feed-nav::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

body {
    padding-top: 54px;
}
.nav-container .feed-nav-opener {
    position: fixed;
    left: 0;
    top: 46px;
    bottom: -46px;
    width: 110px;
}

.nav-container .feed-nav {

    position: fixed;
    left: 0;
    top: 46px;
    bottom: -46px;
    width: 219px;
    background-color: #f5f5f5;
    border: 1px solid #d8d8d8;
    border-bottom: 1px solid #d5d5d5;
    border-top: none;
    border-bottom-width: 2px;
    height: 0;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    transition: height 0.5s;
    overflow: hidden;
}

.nav-container:hover .feed-nav, .nav-container .feed-nav-opener:hover .feed-nav,
.nav-container.active .feed-nav, .nav-container .feed-nav-opener.active .feed-nav
{
    height: 100%;
    min-height: 100%;
    overflow-y: auto;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    transition: height 0.5s;
}

.nav-container {
    width: 180px;
    position: relative;
    display: block;
    float: left;
    padding: 11px 20px 11px;
    margin-left: -20px;
    background: #fbfbfb;

    margin-right: 20px;
    transition: background-color 0.5s;
}

.nav-container:hover {
    background: #f5f5f5;
    transition: background-color 0.5s;
}

.nav-container .feed-nav li {
    background-color: #ffffff;
    line-height: 20px;
    white-space: nowrap;
}

.nav-container .feed-nav li .chanel {
    text-overflow: ellipsis;
    overflow: hidden;
}

.nav-container .feed-nav li > a {
    display: block;
    padding: 9px 18px;
    margin-top: 1px;
    overflow: hidden;
    font-size: 14px;
    line-height: 1.4;
    color: #737373;
    text-overflow: ellipsis;
    text-shadow: none;
    background-color: #ffffff;
    border-left: 2px solid transparent;
    -webkit-transition: border 0.218s;
    -moz-transition: border 0.218s;
    -o-transition: border 0.218s;
    transition: border 0.218s;
}

.nav-container .feed-nav li.unread > a {
    font-weight: bold;
}

.nav-container .feed-nav li.unread .chanel {
    max-width: 118px;
    display: inline-block;
}

.nav-container .feed-nav li.unread > a > i[class^="icon-"] {
    color: #fb9f3a;
}

.nav-container .feed-nav li.unread > .count {
    font-weight: normal;
    color: #888;
}

.nav-container .feed-nav li > a:hover,
.nav-container .feed-nav li > a:focus,
.nav-container .feed-nav li > a.active{
    text-decoration: none;
    background-color: #f5f5f5;
}

.nav-container .feed-nav li > ul > li > a {
    padding-left: 36px;
}

.nav-container .feed-nav li > ul > li.unread > a .chanel {
    max-width: 100px;
    display: inline-block;
}

.nav-container .logo {
    font-size: 20px;
    font-weight: 200;
    color: #737373;
    text-shadow: 0 1px 0 #fff;
}

.feed-container {
    border: 1px solid #d8d8d8;
    background-color: #ffffff;
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 0 4px #e3e5eb;
    padding: 15px 30px;
}

.feed-container hr {
    margin: 0px -30px;
}

.feed-body {
    padding: 0 30px;
    margin: 0 -30px;
}

.feed-item, .feed-name {
    padding: 10px 30px;
    margin: 0 -30px;
    cursor: pointer;
    color: #999;
    background: #eeeeee;
}

.feed-name{
    background: #fff;
    color: #444;
}

.feed-item.unread {
    background: #fff;
    border-bottom: solid 1px #eee;
}

.feed-item.expanded {
    border-bottom: solid 1px #ccc;
}

.feed-item.unread .feed-title > .feed-title-text {
    font-weight: bold;
    color: #444;
}

.feed-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.feed-body {
    background: #fff;
    border-bottom: solid 1px #ccc;
    padding-bottom: 30px;
}

.feed-container.expanded .feed-body.viewed.expanded {
    border-left: solid 1px #4d90fe;
}

.feed-body .feed-body-title{
    margin: 0;
}
.feed-body .feed-body-title a:hover{
    text-decoration: none;
}

.feed-body .feed-body-content{
    margin-top: 15px;
}

.feed-container.expanded {
    background: transparent;
    border: none;
    box-shadow: none;
}

.feed-container.expanded .feed-body{
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 30px;
    padding-bottom: 50px;
    border: 1px solid #ddd;
    box-shadow: 0 0 4px #e3e5eb;
    position: relative;
}

.feed-container.expanded .feed-body .feed-body-footer{
    position:absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #eeeeee;
    padding: 10px 30px;
}

.message-container
{
    margin-left: -200px;
    width: 400px;
    position: fixed;
    top:0;
    left:50%;
    z-index: 2000;
    text-align: center;
}

.nav-container .feed-nav li.separator
{
    padding-bottom: 15px;
}

.hidden{
    visibility: hidden;
}