<div class="modal-header">
    <button type="button" class="close" aria-hidden="true" ng-click="close()">×</button>
    <h3>Add new feed</h3>
</div>
<div class="modal-body">
    <form name="feedForm">
        <input name="feedUrl" class="input-block-level" type="url" placeholder="Enter site or feed url"
               ng-model="discovery.feedUrl" required ng-disabled="loading"/>
            <span class="muted"
                  ng-show="feedForm.feedUrl.$invalid && feedForm.feedUrl.$dirty">Bad formatted address</span>

        <div class="feed-selector" ng-show="discovery.feeds!=null && discovery.feeds.length>0">
            <span>There is more than one feed at given address</span>
            <label ng-repeat="feed in discovery.feeds">
                <input value="{{feed.url}}" type="checkbox" ng-model="feed.checked">&nbsp;{{feed.title}}
            </label>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-disabled="feedForm.$invalid || loading"
            ng-click="discoverFeed()"><i class="icon-plus"></i>&nbsp;Add feed
    </button>
    <button class="btn" type="button">Import OPML</button>
</div>