<div class="feeds-container">
    <section class="feed-nav" ui-view='feedItems'>
    </section>
    <section class="feed-list-container" ui-view="feedList">
    </section>

    <aside>
        <div class="menu-wrapper">
            <nav class="menu">
                <button ng-click="refresh()"><i class="icon-repeat"></i></button>
                <button ng-click="addFeed()"><i class="icon-plus"></i></button>
                <div class="settings-dropdown dropdown">
                    <button class="settings dropdown-toggle"><i class="icon-reorder"></i><i
                            class="icon-angle-right"></i></button>
                    <ul class="dropdown-menu">
                        <li><a href="#/settings"><i class="icon-cog"></i>Settings</a></li>
                        <li><a href="#/shortcuts"><i class="icon-keyboard"></i>Shortcuts</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="feed-scroll">
            <ul class="feed-list">
                <li ng-class="{active:feedItems.selectedId=='starred'}">
                    <div class="feed-channel">
                        <a class="feed-channel-link" href="#/feeds/starred">Starred items</a>
                    </div>
                </li>
                <li ng-class="{active:feedItems.selectedId=='recommended'}">
                    <div class="feed-channel">
                        <a class="feed-channel-link" href="#/feeds/recommended">Recommended</a>
                    </div>
                </li>
            </ul>
            <ul class="feed-list feed-channels">
                <li class="tag" ng-repeat="(tag,items) in feeds.channels"
                    ng-class="{unread:unreadCount, active:feedItems.selectedId=='tag:'+tag,opened:isTagOpened(tag),'current':isCurrentInTag(tag) && !isTagOpened(tag)}"
                    ng-init="unreadCount=unreadCountByTag(tag)" ng-show="(unreadCount>0 && settings.showUnread)||!settings.showUnread">
                    <div class="feed-channel">
                        <button ng-show="tag!='null'" class="tag-opener" ng-class="{'opened':isTagOpened(tag)}"
                                ng-click="toggleTag(tag)"></button>
                        <a class="feed-channel-link" href="#/feeds/tag:{{tag}}" ng-show="tag!='null'">
                            <span class="title">{{tag}}</span>
                            <span class="counter" ng-show="unreadCount>0">({{unreadCount|unreadCounter}})</span></a>
                    </div>
                    <ul class="feed-list" ng-class="{untagged:tag=='null'}">
                        <li ng-repeat="item in items"
                            ng-class="{unread:item.unread>0, active:feedItems.selectedId==item.id}" ng-show="(item.unread>0 && settings.showUnread)||!settings.showUnread">
                            <div class="feed-channel">
                                <a class="feed-channel-link" href="#/feeds/{{item.id}}">
                                    <span class="title">{{item.title}}</span>
                                    <span ng-show="item.unread>0" class="counter">({{item.unread}})</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </aside>
</div>

