.icon-fixed-width()
{
  display: inline-block;
  width: 16/14em;
  text-align: right;
  padding-right: 4/14em;
}

.feeds-container {
  aside {
    color: @panelTextColor;
    background: @panelBackground;
    width: @sidebarSize;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    border: solid 1px @controlBorderColor;
    border-left: none;
    z-index: 50;

    .menu-wrapper {
      height: @topnavSize;
      margin: 0;
      padding: 0;
      border-bottom: solid 1px @controlBorderColor;

      .menu {
        margin: 0;
        padding: 0.5em 1em;

        .clearfix;

        button {
          .button;

        }

        .settings-dropdown {
          .pull-right;
          .dropdown-menu {
            left: 100%;
            top: 0;
          }
        }

        h1 {
          font-size: (@topnavSize - 1);
          margin: 0;
        }
      }
    }

    > .feed-scroll {
      overflow-y: auto;
      height: 100%;
      min-height: 100%;

      &::-webkit-scrollbar {
        width: 3px;
        height: 3px;
      }

      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }

      &::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
      }
    }

    .feed-list {
      font-size: @asideFontSize;

      &.feed-channels {
        margin-bottom: 10em;
      }

      &:last-child {
        border-bottom: none;
      }

      margin: 1em 0;
      list-style: none;
      border-bottom: solid 1px @controlBorderColor;

      li {
        .feed-channel {
          border-left: solid @activeFeedBorderSize transparent;
        }

        &.opened > .feed-list {
          height: 100%;
        }

        > .feed-list {
          margin: 0;
          height: 0;
          overflow: hidden;
          font-size: 100%;

          .feed-channel {
            .feed-channel-link {
              padding-left: 32/14em;
            }
          }

          &.untagged {
            .feed-channel {
              .feed-channel-link {
                padding-left: 16/14em;
              }
            }
          }
        }

        &.active, &.current {
          > .feed-channel {
            border-left: solid @activeFeedBorderSize @activeFeedColor;
            .feed-channel-link {
              color: @activeFeedColor;
            }
          }
        }

        &.unread {
          > .feed-channel {
            .feed-channel-link {
              font-weight: bold;

              .title {
                .text-overflow;
                max-width: (@sidebarSize - 6);
              }

              .counter {
                font-size: 90%;
                font-weight: normal;
                color: @inactiveFeedColor;
                &:before {
                  content: ' ';
                }
              }
            }
          }
        }

        > .feed-channel {
          .feed-channel-link {
            color: @inactiveFeedColor;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 0.5em 1em;

            &:hover, &:active {
              color: @panelTextColor;
              text-decoration: none;
              background: @hoverFeedBackground;
            }

            .title:before {
              .icon-fixed-width;
              .icon(@rss-sign);
            }
          }
        }

        &.tag {
          .clearfix;

          .tag-opener {
            float: left;
            display: inline-block;
            width: 16/14em;
            text-align: center;
            background-color: transparent;
            border: none;
            padding: 0.5em 0;
            cursor: hand;

            &:before {
              .icon(@angle-right);
            }

            &.opened:before {
              .icon(@angle-down);
            }
          }

          > .feed-channel {
            .feed-channel-link {
              padding: 0.5em 0;

              .title:before {
                .icon-fixed-width;
                .icon(@folder-close);
              }
            }
          }
        }

      }
    }
  }

  section.feed-nav, section.feed-list-container {
    margin-left: @sidebarSize;
  }

  section.feed-list-container {
    padding-top: @topnavSize;
  }

}

