<div class="login">
    <h2>Please login</h2>

    <p>Upper of it will be some marketing bullshit</p>

    <div class="uLogin" u-login='uLogin;display=panel;fields=;providers=vkontakte,odnoklassniki,mailru,twitter,google,yandex,googleplus,facebook,livejournal,linkedin,liveid;redirect_uri=;'></div>
</div>

