<div class="modal-header">
    <button type="button" class="close" aria-hidden="true" ng-click="close()">×</button>
    <h3>Add new tag</h3>
</div>
<div class="modal-body">
    <form name="addTagForm">
        <input name="tagName" class="input-block-level" type="text" placeholder="Enter new tag name"
               ng-model="addTagDialog.TagName" required/>
            <span class="muted"
                  ng-show="addTagForm.tagName.$invalid && addTagForm.tagName.$dirty">Bad tag name</span>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-disabled="addTagForm.$invalid"
            ng-click="close(addTagDialog.TagName)"><i class="icon-plus"></i>&nbsp;Add tag
    </button>
</div>