.top-nav {
  position: fixed;
  background: lighten(@panelBackground, 5%);
  top: 0;
  right: 0;
  z-index: 1;
  left: @sidebarSize;
  height: @topnavSize;
  border-top: solid 1px @controlBorderColor;
  border-bottom: solid 1px @controlBorderColor;

  .nav-container {
    padding: 0.5em 1em;
    height: (@topnavSize - 1);
    line-height: (@topnavSize - 1);
    .clearfix();

    .feed-info {
      .text-overflow;
      float: left;

      .feed-title {
        font-size: 120%;
        font-weight: bold;
      }
      .counter {
        .muted;
        font-weight: normal;
      }
      .set-tag {
        .badge;
        color: @successText;
        background-color: lighten(@successText, 50%);
        .border-radius(3px);
        padding-top: 4px;
        padding-bottom: 4px;
        text-decoration: none;

        &:hover, &:active {
          text-decoration: none;
          background-color: lighten(@successText, 30%);
        }
      }

    }

    .feed-control {
      .pull-right;
      .clearfix;

      > div {
        float: left;
      }

      .dropdown-menu {
        left: auto;
        right: 0;

        > li > span {
          display: block;
          padding: 3px 20px 6px 20px;
          clear: both;
          font-weight: normal;
          line-height: 20px;
          color: #333333;
          white-space: nowrap;
        }
      }

      button {
        .button;
      }

      .feed-subscribe {
        margin-right: 1em;
      }

      .feed-mark-readed {
        .clearfix;
        button {
          margin-top: 4px;
          display: block;
          float: left;
        }

        margin-left: 1em;
        button:first-child {
          .border-top-right-radius(0);
          .border-bottom-right-radius(0);
          border-right-color: transparent;
        }

        button:hover, button:active {
          border-right-color: #999;
        }

        button:last-child, button.dropdown-toggle {
          .border-top-left-radius(0);
          .border-bottom-left-radius(0);
        }
      }

      .feed-tags {
        margin-left: 0.5em;
      }
    }
  }
}

