<nav class="top-nav">
    <div class="nav-container">
        <div class="feed-info">
            <span class="feed-title"><a href="." target="_blank">{{feedItems.feedTitle()}}</a> <span
                    class="counter"> {{feedItems.feedUnreadCount()}} unread articles</span>
            </span>
        </div>
        <div class="feed-control">
            <div class="feed-subscribe" ng-hide="feedItems.isSubscribed()">
                <button ng-click="feedItems.subscribe()">Subscribe to this feed</button>
            </div>
            <div class="dropdown feed-view-mode">
                <button class="dropdown-toggle"><i class="icon-eye-open"></i><span class="icon-caret-down"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><span>Layout</span></li>
                    <li ng-class="{active:settings.viewMode=='list'}"><a href="javascript:void(0)"
                                                                         ng-click="changeView('list')"><i
                            class="icon-fixed-width icon-list"></i> List view</a></li>
                    <li ng-class="{active:settings.viewMode=='columns'}"><a href="javascript:void(0)"
                                                                            ng-click="changeView('columns')"><i
                            class="icon-fixed-width icon-columns"></i> Columns view</a></li>
                    <li ng-class="{active:settings.viewMode=='full'}"><a href="javascript:void(0)"
                                                                         ng-click="changeView('full')"><i
                            class="icon-fixed-width icon-unchecked"></i> Full view</a></li>

                    <li class="divider"></li>
                    <li><span>View</span></li>
                    <li><a href="javascript:void(0)" ng-click="settings.showUnreadItems=false"><i
                            class="icon-fixed-width" ng-class="{'icon-ok':!settings.showUnreadItems}"></i> All items</a>
                    </li>
                    <li><a href="javascript:void(0)" ng-click="settings.showUnreadItems=true"><i
                            class="icon-fixed-width" ng-class="{'icon-ok':settings.showUnreadItems}"></i> New items</a>
                    </li>

                    <li class="divider"></li>
                    <li><span>Order</span></li>
                    <li><a href="javascript:void(0)" ng-click="settings.order='oldest'"><i class="icon-fixed-width" ng-class="{'icon-ok':settings.order=='oldest'}"></i> Oldest first</a></li>
                    <li><a href="javascript:void(0)" ng-click="settings.order='newest'"><i class="icon-fixed-width" ng-class="{'icon-ok':settings.order=='newest'}"></i> Newest first</a></li>
                </ul>
            </div>
            <div class="dropdown feed-mark-readed">
                <button ng-click="markAsReaded()"><i class="icon-ok-sign"></i></button>
                <button class="dropdown-toggle">
                    <span class="icon-caret-down"></span></button>

                <ul class="dropdown-menu">
                    <li><a href="javascript:void(0)">Older than two weeks</a></li>
                    <li><a href="javascript:void(0)">Older than one month</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:void(0)" ng-click="feedItems.unsubscribe()">Unsubscribe from feed</a></li>
                </ul>
            </div>
            <div class="dropdown feed-tags" ng-show="feedItems.isRealFeed()">
                <button class="dropdown-toggle"><i class="icon-tag"></i><span class="icon-caret-down"></span>
                </button>
                <ul class="dropdown-menu">
                    <li ng-repeat="(tag,selected) in feedItems.tags()">
                        <a href="javascript:void(0)" ng-click="toggleTag(feedItems.selectedId,tag)"><i
                                class="icon-fixed-width" ng-class="{'icon-ok':selected}"></i>{{tag}}</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="javascript:void(0)" ng-click="addTag(feedItems.selectedId)"><i
                                class="icon-fixed-width icon-plus"></i>Add new tag</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>




